<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.css" />
</head>

<body>
 <!--toast에디터 적용-->
<div id="editor"></div>
<!--반드시 toast에디터 아래에 있어야 함.-->
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
</body>

<script>
    const editor = new toastui.Editor({
        el: document.querySelector('#editor'),
        previewStyle: 'vertical',
        height: '800px',
        initialValue: ''
    });
</script>
</html>