div.left {
    width: 75%;
    float: left;
}
div.right {
    width: 25%;
    float: right;
}
div.item-box {
    width: 100%;
    height: 900px;
}
div.description {
    width: 100%;
    height: 470px;
    border: #111111 solid;
}
div.title {
    width:100%;
    height:70px;
    float:left;
    border-bottom-width:thin;
    border-bottom-color:rgba(25,80,100,0);
    border-bottom:solid;}
